<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></head>
<body>
    <div class="container mt-5">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">썸네일</th>
            <th scope="col">제목</th>
            <th scope="col">댓글</th>
            <th scope="col">추천</th>
            <th scope="col">날짜</th>
          </tr>
        </thead>
        <tbody>
            {% for deal in deals %}
            <tr>
                <td><img src="{{deal.image_url}}" class="img-thumbnail" style="width:40px; heigh:40px"></td>
                <td><a href="{{deal.link}}">{{deal.title}}</a></td>
                <td>{{ deal.reply_count }}</td>
                <td>{{ deal.up_count }}</td>
                <td>{{ deal.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    
    </div>
</body>
</html>